* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/church-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  height: 5vh;
  background-color: rgb(26, 25, 43);
}

footer a {
  color: yellow;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 0.5rem;
}