* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/church-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.donation {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/donation-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.donate {
  margin-left: auto;
  margin-right: auto;
}

.worship {
  width: 100%;
  height: auto;
}

.services {
  width: 100%;
  height: auto;
}

.title {
  font-size: xx-large;
  font-weight: 900;
}

.sub-title {
  font-size: x-large;
  font-weight: 700;
}

.image {
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
}

.image-1 {
  width: 80%;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}

.credits {
  font-weight: 600;
  color: blue;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

.video-container {
  display: flex;
  justify-content: center;
}

footer {
  height: 6vh;
  background-color: rgb(26, 25, 43);
}

footer a {
  color: yellow;
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 0.5rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .home {
    width: 100%;
    height: auto;
  }

  .mobile {
    display: none;
  }

  .title {
    font-size: x-large;
    font-weight: 900;
  }

  .sub-title {
    font-size: large;
    font-weight: 700;
  }

  .image {
    width: 85%;
  }

  .mission-text {
    text-align: center;
  }

  .involved {
    display: flex;
    flex-direction: column;
  }

  .videvideo-container {
    width: 85%;
  }

  .donation {
    width: 100%;
    height: auto;
  }

  footer {
    display: block;
    text-align: center;
    height: auto;
    background-color: rgb(26, 25, 43);
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home {
    width: 100%;
    height: auto;
  }

  .mobile {
    display: none;
  }

  .mission-text {
    text-align: center;
  }

  .donation {
    width: 100%;
    height: auto;
  }
}