* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/church-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}